<h1> Student Form </h1>
<%= form_tag students_path do %>
  <label>First Name:</label><br>
  <%= text_field_tag :'Margaery' %><br>
 
  <label>Last Name:</label><br>
  <%= text_field_tag :'Tyrell' %><br>
 
  <%= submit_tag "Submit Student" %>
<% end %>